@import '../../../../assets/styles/colors.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $radiant-primary-teal;
  height: 4rem;
}

nav {
  display: flex;
  min-width: 25%;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
  
  a {
    color: white;
    text-decoration: none;
    :visited {
      color: white;
    }
  }
}