@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/mixins.scss';

.hero {
  background: url('../../../../assets/images/unsplash/chelsea-shapouri-r40EYKVyutI-unsplash.jpg');

  @media screen and (min-width: 600px) {
    min-height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 600px) {
    @include parallax-scroll;
  }

  &-text {
    @media only screen and (max-width: 600px) {
      p {
        font-size: 40px;
      }

      height: 100vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      color: #eff5f5;
      font-weight: 500;
      font-size: 61px;
    }
  }
}

.content {
  @media screen and (max-width: 600px) {
    position: absolute;
  }
}

.services {
  padding: 1rem;
  min-height: 15rem;
  background-color: $radiant-primary-teal;
  text-align: center;

  h1 {
    margin-top: 0;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .service {
    width: 27rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
    }
  }

  p {
    margin: 0;
  }
}

.donations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../../../assets/images/unsplash/kelly-sikkema-UaO58q6ioxI-unsplash.jpg');
  min-height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &-info {
    width: 28rem;
    background-color: #eff5f595;
    padding: 1rem;
  }

  h1 {
    text-align: center;
    margin: 0;
  }
}