@import '../../../../assets/styles/colors.scss';

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../../assets/images/unsplash/chelsea-shapouri-r40EYKVyutI-unsplash.jpg');
  min-height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media only screen and (max-width: 600px) {
    height: 10rem;
  }

  &-text {

    p {
      @media only screen and (max-width: 600px) {
        font-size: 40px;
      }

      margin: 0;
      color: #eff5f5;
      font-weight: 500;
      font-size: 61px;
    }
  }
}

.services {
  padding: 1rem;
  min-height: 15rem;
  background-color: $radiant-primary-teal;
  text-align: center;

  h1 {
    margin-top: 0;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .service {
    width: 27rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
    }
  }

  p {
    margin: 0;
  }
}

.donations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../../../assets/images/unsplash/kelly-sikkema-UaO58q6ioxI-unsplash.jpg');
  min-height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &-info {
    width: 28rem;
    background-color: #eff5f595;
    padding: 1rem;
  }

  h1 {
    text-align: center;
    margin: 0;
  }
}