<div class="container">
  <img class="logo" src="../../../../assets/images/butterfly-logo-emerge.webp" />
  <ul class="location">
    <li>EMERGE</li>
    <li>Mobile Unit</li>
    <li>Boulder/Lafayette/Denver, Colorado, 80301</li>
    <li>(720) 320-0526</li>
    <li>lyndseefrankel@gmail.com</li>
  </ul>
  <ul class="hours">
    <li>Monday 8:00 am - 5:00 pm</li>
    <li>Tuesday 7:00 am - 9:30 pm</li>
    <li>Wednesday 7:00 am - 9:30 pm</li>
    <li>Thursday 8:00 am - 5:00 pm</li>
    <li>Friday 7:00 am - 9:30 pm</li>
    <li>Saturday 7:00 am - 9:30 pm</li>
    <li>Sunday Closed</li>
  </ul>
  <div class="social">
    <h3>Connect with us!</h3>
    <div class="icons">
      <a class="mail" href="mailto:lyndseefrankel@gmail.com">
        <fa-icon class="icon fa-lg" [icon]="envelope"></fa-icon>
      </a>
      <fa-icon class="icon icon-instagram fa-lg"[icon]="instagram"></fa-icon>
      <fa-icon class="icon icon-facebook fa-lg" [icon]="facebook"></fa-icon>
      <fa-icon class="icon icon-yelp fa-lg"[icon]="yelp"></fa-icon>
    </div>
  </div>
</div>